<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>메인 페이지</title>
    <link rel="stylesheet" href="css/index.css" />
    <!-- <link rel="stylesheet" href="css/styles.css" /> -->
    <%- include('include/navbar_top') %>
  </head>

  <body>
    <main>
      <div class="image-container">
        <img
          id="myImage"
          src="https://static.vecteezy.com/system/resources/previews/002/641/330/original/silhouette-young-plus-size-woman-does-a-press-exercise-with-a-trainer-on-a-white-background-illustration-improves-the-abdominal-muscles-fitness-weight-loss-vector.jpg"
          alt="이미지"
        />
        <div class="text-overlay">
          <h1>환영합니다!</h1>
          <p>행복 버튼 팀의 건강관리 사이트입니다!</p>
        </div>
      </div>
    </main>
  </body>
</html>
