<!DOCTYPE html>
<html>
  <head>
    <title>유튜브 영상 링크</title>
    <link rel="stylesheet" href="css/video.css" />
    <%- include('include/navbar_top') %>
  </head>
  <body>
    <div class="container1" id="container1" style="margin: 10px"></div>
    <div class="container2" id="container2" style="margin: 10px"></div>
    <div class="container3" id="container3" style="margin: 10px"></div>
    <div class="container4" id="container4" style="margin: 10px"></div>
  </body>
  <script src="js/video.js"></script>
</html>
