body {
  padding: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.metabolism-box,
.activity-box,
.time-intensity-box,
.activity-info-box {
  width: 100%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f8f9fa;
  margin-bottom: 20px;
}

.activity-box {
  display: flex;
  gap: 20px;
}

.activity-info,
.activity-buttons {
  flex: 1;
}

.activity-buttons button {
  margin-bottom: 10px;
}

.search-section {
  margin-top: 20px;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

.search-section h4 {
  margin-bottom: 10px;
}

.search-input {
  width: 100%;
  max-width: 300px;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.selected-activity {
  margin-top: 10px;
  padding: 10px;
  background-color: #007bff; /* Bootstrap primary color */
  color: #fff; /* White text color */
  border-radius: 5px;
  display: inline-block; /* 인라인 블록 요소로 설정하여 내용에 맞게 크기 조정 */
  white-space: nowrap; /* 줄 바꿈 방지 */
}
